.header-nav{
    #header-nav__input {
        display: none;
    }

    &__menu-btn {
        display: none;
    }
    &__overlay {
        display: none;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.0);
    }
    &__close-btn {
        position: absolute;
        top: 30px;
        right: 30px;
    }
    
    &__mobile {
        position: fixed;
        top: 0;
        bottom: 0;
        right: 0;
        width: 254px;
        background-color: rgba(126, 126, 126, 0.1);
        transform: translateX(100%);
        transition: all 0.4s ease;

        backdrop-filter: blur(16px);

        &-list {
            list-style: none;
            margin-top: 100px;
        }
    }
}

#header-nav__input:checked {
    & ~ .header-nav__mobile {
        transform: translateX(0);
    }
    & ~ .header-nav__menu-btn {
        display: none;
    }
    & ~ .header-nav__overlay {
        display: block;
    }
}

@media screen and (max-width: 639px) {
    .header-nav__menu-btn {
        display: block;
    }
}

.header-divider {
    position: absolute;
    top: 50%;
    right: 96%;
    height: 1px;
    width: calc(100vw - 766px - 160px);
}